footer.footer
  .container-fluid
    nav
      ul
        li
          a(href='http://www.biomatrix.pro' target='_blank')
            | Our official site
    .copyright
      | &copy;
      script.
        document.write(new Date().getFullYear())
      | , by
      span=' '
      a(href='http://www.deksden.com' target='_blank') Deksden