extends layouts/main-layout

block append variables
    - pageID = 'home'

block headTitle
    title MRP by deksden (#{pageID})

block bodyContent
    .content
        .card
            .card-header
                h3 MRP by Deksden

            .card-body
                .card.w-25
                    .card-header
                        h4.card-title Processes
                        h6.card-subtitle.mb-2.text-muted Processed definitions
                    .card-body
                        p.card-text
                            | List of manufacturing processes
                    .card-footer
                        a.card-link(href='/erp/processes') Processes

            .card-body
                    .card-group.w-75
                        .card
                            .card-header
                                h4.card-title Plan
                                h6.card-subtitle.mb-2.text-muted Manufacturing plan
                            .card-body
                                p.card-text List of products to manufature
                            .card-footer
                                a(href='/erp/manufacturing') Manufacturing

                        .card
                            .card-header
                                h4.card-title Products
                                h6.card-subtitle.mb-2.text-muted Products definition
                            .card-body
                                p.card-text Description of products which manufacturing plan will be processed by MRP. products.json
                            .card-footer
                                a(href='/erp/products') Products

                        .card
                            .card-header
                                h4.card-title Resources
                                h6.card-subtitle.mb-2.text-muted Resources for production
                            .card-body
                                p.card-text Definition of resources used for production processes
                            .card-footer
                                a(href='/erp/resources') Resources
            .card-body
                .card.w-25
                    .card-header
                        h4.card-title Orders
                        h6.card-subtitle.mb-2.text-muted Orders for resources
                    .card-body
                        p.card-text
                            | List of orders for resources. Result of MRP
                    .card-footer
                        a.card-link(href='/erp/orders') Orders
