mixin formField(caption, value)
    .row
        .col-md-2
            p.text-muted.text-right=caption
        .col-md-10
            if block
                block
            else
                p.text-left=value

